
body {
    background-color:#FFFFFF;
}

/*header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}


.logo {
    width: 185px;
    height: 32px;
}

.navigation {
      font-family: "Poppins", sans-serif;
      font-size: 14px;
      line-height: 28px;
      letter-spacing: 0px;
      color: #2F281E;
      list-style: none;
      display:flex;
      gap: 30px;
      margin-left: auto;
}


.nav-buttons {
    display: flex;
    gap: 14px;
    margin-right: 145px;
}

.sign-in-btn {
    width: 102px;
    height: 46px;
    font-family: "Poppins", sans-serif;
    font-weight: 600px;
    line-height: 24px;
    letter-spacing: 0px;
    color: #173A56;
}

.sign-up-btn {
    width: 110px;
    height: 46px;
    background-color: #FF9900;
    border: none;
    border-radius: 4px;
    font-family: "Poppins", sans-serif;
    font-weight: 600px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0px;
    color: #FFFFFF;
}
/*Section one*/

.heading {
    font-family: "Poppins", sans-serif;
    font-weight:bold;
    font-size: 44px;
    line-height: 54px;
    letter-spacing: 0px;
    color: #2F281E;
    margin-bottom: 30px;
}

.introduction {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0px;
    color: #544837;
    margin-bottom: 52px;
}

.btn-get-started {
    width: 175px;
    height: 53px;
    border-radius: 4px;
    color: #FFFFFF;
    background-color: #FF9900;
    border: none;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0px;
    color: #FFFFFF;
}

.btn-watch-video {
    width: 161px;
    height: 23px;
    border: none;
    font-family: "Poppins", sans-serif;
    font-weight: 600px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0px;
    color: #FF9900;
}

.jumping-image {
    width: 605px;
    height: 496px;
    max-width: 100%;
    margin-left: auto;

}

/*Section two*/
.design-thinking-superpowers {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left-side-content {
    max-width: 518px;
}

.right-side-content {
    width: 605px;
    max-width: 100%;
}


.feature-h3 {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 36px;
    line-height:54px;
    letter-spacing: 0px;
    color: #2F281E;
    margin-bottom: 54px;
    max-width: 539px;
    width: 100%;
    text-align: center;
}

.icon {
    width:51px;
    height: 50px
}

.h4-icon-section {
    font-family: "Poppins", sans-serif;
    font-weight: 600px;
    font-size: 22px;
    line-height: 33px;
    letter-spacing: 0px;
    color: #2F281E;
}

.p-icon-section {
    font-family: "Poppins", sans-serif;
    font-weight: 500px;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0px;
    color: #544837;
}

.feature-sign-up-btn {
    width: 175px;
    height: 53px;
    border-radius: 4px;
    background-color: #FF9900;
    font-family: "Poppins", sans-serif;
    font-weight: 700px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0px;
    color: #FFFFFF;
    border: none;
}

.feature-icon-section {
    max-width: 1095px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 34px;
}

.icon-card {
    max-width: 240px;
    width: 100%;
    flex-direction: column;
}

.feature {
    display: flex;
    max-width: 2211px;
    width: 100%;
    align-items: center;
    flex-direction: column;
}

/*Section three*/

.design-professionals-paragraph {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 500px;
    line-height: 24px;
    letter-spacing: 0px;
    color: #544837;
}

.design-professionals-main-heading {
    font-family: "Poppins", sans-serif;
    font-weight: 700px;
    font-size: 36px;
    line-height: 54px;
    letter-spacing: 0px;
    color: #2F281E;
}

.design-professionals-h6 {
    font-family: "Poppins", sans-serif;
    font-weight: 700px;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0px;
    color: #2F281E;
}

.design-professionals-image {
    max-width: 520px;
    margin-left: auto;
}

.design-professionals-left-side {
    display: flex;
    flex-direction: column;
    max-width: 486px;
    gap: 10px;
}

.design-professional-right-side{
    display: flex;
    max-width: 520px;
}

.design-professionals {
    display: flex;
    max-width: 1110px;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    margin-top: 90px;
}




