
body {
    background-color:#F2F2F2;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}


.logo {
    width: 185px;
    height: 32px;
}

.navigation {
      font-family: "Poppins", sans-serif;
      font-size: 14px;
      line-height: 28px;
      letter-spacing: 0px;
      color: #2F281E;
      list-style: none;
      display:flex;
      gap: 30px;
      margin-left: auto;
}


.buttons {
    display: flex;
    gap: 14px;
    margin-right: 145px;
}

.sign-in-btn {
    width: 102px;
    height: 46px;
    font-family: "Poppins", sans-serif;
    font-weight: 600px;
    line-height: 24px;
    letter-spacing: 0px;
    color: #173A56;
}

.sign-up-btn {
    width: 110px;
    height: 46px;
    background-color: #FF9900;
    border: none;
    border-radius: 4px;
    font-family: "Poppins", sans-serif;
    font-weight: 600px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0px;
    color: #FFFFFF;

}

